.services{
  height: 100vh;
}

.services .service-item {
    position: relative;
    padding-top: 40px;
    align-items: center;
    
}
  

  .services .service-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background: var( --gradient-bar);
    border-right: 5px solid var( --gradient-bar);
  }
  
  .services .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-right: 50px;
    line-height: 0;
  }
  
  .services .service-item .icon i {
    color: rgba(var(--default-color-rgb), 0.7);
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
  }
  
 .service-item .service_title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .service_title{
    color:#87C4FF;
  }
  .services .service-item .service_title  {
  }
  
  .services .service-item .service_description {
    line-height: 24px;
    font-size: 14px;
    color:  white;
  }
  
  @media screen and (max-width:1000px){

    .services{
      height: auto;
      margin-bottom: 2rem;
    }
  }

  @media screen and (max-width:670px){
    .services{
      padding: 2rem;
    }
    .services .service-item .service_description{
      
      line-height: 20px;
      font-size: 12px;
    }
  }