.skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.skills_section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.skill_row{

    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}   
.skill_row img{

 margin: 1rem;
}   
.skill_row img:hover{

   transform: scale(1.4);
   }   

.skill_row p {

   color: var( --header-color)
   }   
   


@media screen and (max-width:1080px) {
    .skills{
        height: auto;
    }

}

@media screen and (max-width:580px) {
    .skill_row img{

        width: 50px !important;
       }   
       

}



